<?php

/**
 * ACL configuration.
 */
return array(
    
    /*
     * Options
     */
    'options' => array(
        'enabled' => true, 
        'ruleClassPrefix' => 'AcLogin_Acl_Rule_'
    ), 
    
    /*
     * Rules
     */
    'rules' => array(
    
        /*
         * Users with attribute "foo" having value of "bar" are allowed. If the attribute is missing, the rule is ignored.
         */
        'fooRule' => array(
            'rule' => 'UserAttrExprRule', 
            'params' => array(
                'enabled' => true, 
                'type' => AcLogin_Acl_Rule_UserAttrExprRule::TYPE_PERMIT, 
                'attributeName' => 'foo', 
                'attributeMatchValue' => 'bar', 
                'operator' => AcLogin_Acl_Rule_UserAttrExprRule::OP_EQUAL,
                'ignoreMissingAttribute' => true,
                'denyMessage' => 'invalid_foo_value'
            )
        )
    )
);