;/**
; * This file is part of the AC Login Service.    
; *
; * The AC Login Service is free software: you can redistribute it and/or modify    
; * it under the terms of the GNU Lesser General Public License as published by    
; * the Free Software Foundation, either version 3 of the License, or    
; * (at your option) any later version.    
; * 
; * The AC Login Service is distributed in the hope that it will be useful,    
; * but WITHOUT ANY WARRANTY; without even the implied warranty of    
; * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the    
; * GNU Lesser General Public License for more details.    
; * 
; * You should have received a copy of the GNU Lesser General Public License    
; * along with the AC Login Service.  If not, see <http://www.gnu.org/licenses/>. 
; * 
; * @author Ivan Novakov <ivan.novakov@cesnet.cz>
; * @copyright Copyright (c) 2009-2012 CESNET, z. s. p. o. (http://www.ces.net/)
; * @license LGPL (http://www.gnu.org/licenses/lgpl.txt)
; * 
; */
 
; General options
[general]

; Email shown to the user when problem occurs
admin_email = ac-admin@server.cz

; directory in tpl/ containing layouts and views
template = default

; The entityID of the Shibboleth SP
entity_id = https://ac.server.cz/sp/shibboleth

; When true, the user is not redirected to AC server, instead an info page is displayed.
debug_mode = true


; Adobe Connect accounts related options
[account]

; default group - if set, new users will be automatically added to that group upon creation,
; should correspond to the name of an existing group
default_group = allusers

; secret salt for user password generation
password_salt = _nejaky_nahodny_retezec_

; Base URI to redirect authenticated users to
redirect_uri = https://ac.server.cz/

; creates a user, if it does not exist on the Adobe Connect server
create_user_if_not_exists = true

; refresh user data upon login
refresh_user_data_on_login = true

; use one time passwords - on every login a new password is generated and set on the server
use_ot_password = true


; Shibboleth related options
[shibboleth]

; Attribute names containing user's identity - used to determine the actual user name to be used on the AC server
; If this attribute is set, it will be used for user's identity as is, with no modification
uid_field = eppn

; ... otherwise the universal REMOTE_USER variable will be used. Since it may contain values of different formats
; (eppn, computed-id, stored-id, ...) it is converted to an opaque string (length 32) of the appropriate scope
remote_user_field = REMOTE_USER

; Additional attributes holding user information:

; email
mail_field = mail

; first name 
givenName_field = givenName

; surname
sn_field = sn


; Logging options
[log]

; log file path - make sure, that the web server has write permissions
file = log/aclogin.log

; log verbosity - DEBUG=7, INFO=6, NOTICE=5, WARN=4, ERR=3, CRIT=2, ALERT=1, EMERG=0
verbosity = 7



; Options passed to AcApi
[acapi]

; Transport format
type = xml

; Server XML API URI
uri = https://ac.server.cz/api/xml

; Administrator username
username = acadmin

; Administrator password
password = acpasswd

; Cookie name, containing the session
cookie = BREEZESESSION


; ACL - experimental
[acl]
acl_definition_file = acl/aclogin.acl.php
