<?php
 
return array(
    
    /*
     * connect.cesnet.cz
     */
    'prod' => array(
        'config_file' => 'acprod.ini'
    ),
     
    /*
     * actest-w3.cesnet.cz
     */
    'test' => array(
        'config_file' => 'actest.ini'
    )
);